HF_CACHE_HOST_PATH=C:\users\joshua.bailey\.cache\huggingface
HF_CACHE_CONTAINER_PATH=/home/user/app/.cache/huggingface
HF_TOKEN=hf_...

TORCH_CACHE_HOST_PATH=C:\users\joshua.bailey\.cache\torch
TORCH_CACHE_CONTAINER_PATH=/home/user/app/.cache/torch
